<a href="https://colab.research.google.com/github/Benjamindavid03/MachineLearningLab/blob/main/Spark_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prepare and Import the Data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!unzip "/content/drive/MyDrive/Colab Datasets/DelayedFlights.csv.zip"

Archive:  /content/drive/MyDrive/Colab Datasets/DelayedFlights.csv.zip
  inflating: DelayedFlights.csv

# Setting up Pyspark in python

In [11]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [18]:
!wget -q https://downloads.apache.org/spark/spark-3.0.3/spark-3.0.3-bin-hadoop2.7.tgz

In [19]:
!tar xf spark-3.0.3-bin-hadoop2.7.tgz

In [20]:
!pip install -q findspark

In [24]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.3-bin-hadoop2.7"
!export SPARK_HOME=/content/spark-3.0.3-bin-hadoop2.7
! echo $SPARK_HOME

/content/spark-3.0.3-bin-hadoop2.7

# Initialize Spark

In [25]:
import findspark
findspark.init()

# create a SparkSession, which is the entry point to Spark.

In [26]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [27]:
spark

# View Spark UI

In [30]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!ngrok config add-authtoken 2AyXjKIeBsO3IMCwnIGArgk0wPq_5JvTpU4uDDtEFwPh2EbAy
!curl -s http://localhost:4040/api/tunnels

--2022-06-23 11:16:18--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 54.161.241.46, 52.202.168.65, 54.237.133.81, ...
Connecting to bin.equinox.io (bin.equinox.io)|54.161.241.46|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip.2’

ngrok-stable-linux- 100%[===================>]  13.19M  19.2MB/s    in 0.7s

2022-06-23 11:16:19 (19.2 MB/s) - ‘ngrok-stable-linux-amd64.zip.2’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: ngrok
/bin/bash: ngrok: command not found
{"tunnels":[{"name":"command_line","uri":"/api/tunnels/command_line","public_url":"https://aa3c-34-125-199-62.ngrok.io","proto":"https","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}},{"name":"command_line (http)","uri":"/api/tunnels/command_line%20%28http%29","public_url":"http://aa3c-34-125-199-62.ngrok.io","proto":"http","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":2,"gauge":0,"rate1":0.020595341160681846,"rate5":0.005957556479904579,"rate15":0.002138461920106077,"p50":32261733163,"p90":33868329310,"p95":33868329310,"p99":33868329310},"http":{"count":8,"rate1":0.060677833112354265,"rate5":0.022548001602221607,"rate15":0.008399779334944766,"p50":3846978,"p90":112003244,"p95":112003244,"p99":112003244}}}],"uri":"/api/tunnels"}

In [32]:
df = spark.read.csv("DelayedFlights.csv", header=True, inferSchema=True) v #Load the CSV using spark

In [33]:
df.printSchema() #Show column details

root
 |-- _c0: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: double (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- ArrTime: double (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: double (nullable = true)
 |-- CRSElapsedTime: double (nullable = true)
 |-- AirTime: double (nullable = true)
 |-- ArrDelay: double (nullable = true)
 |-- DepDelay: double (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: integer (nullable = true)
 |-- TaxiIn: double (nullable = true)
 |-- TaxiOut: double (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: integer (nullable = true)
 |-- CarrierDelay: double (nullable = true)
 |-- WeatherDelay: double (nullable = true)
 |-- NASDelay: double (nullable = true)
 |-- SecurityDelay: double (nullable = true)
 |-- LateAircraftDelay: double (nullable = true)

In [35]:
df.show(5) # Show only 5 rows in DF

+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|_c0|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|  0|2008|    1|         3|        4| 2003.0|      1955| 2211.0|      2225|           WN|      335| N712SW|            128.0|         150.0|  116.0|   -14.0|     8.0|   IAD| TPA|     810|   4.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  1|2008|    1|         3|        4|  754.0|       735| 1002.0|      1000|           WN|     3231| N772SW|            128.0|         145.0|  113.0|     2.0|    19.0|   IAD| TPA|     810|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  2|2008|    1|         3|        4|  628.0|       620|  804.0|       750|           WN|      448| N428WN|             96.0|          90.0|   76.0|    14.0|     8.0|   IND| BWI|     515|   3.0|   17.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  4|2008|    1|         3|        4| 1829.0|      1755| 1959.0|      1925|           WN|     3920| N464WN|             90.0|          90.0|   77.0|    34.0|    34.0|   IND| BWI|     515|   3.0|   10.0|        0|               N|       0|         2.0|         0.0|     0.0|          0.0|             32.0|
|  5|2008|    1|         3|        4| 1940.0|      1915| 2121.0|      2110|           WN|      378| N726SW|            101.0|         115.0|   87.0|    11.0|    25.0|   IND| JAX|     688|   4.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 5 rows

In [ ]:
df.count() #Number of rows in DF

In [37]:
df.select("Year","Month","DayOfMonth","FlightNum").show(5) #Display specific columns

+----+-----+----------+---------+
|Year|Month|DayOfMonth|FlightNum|
+----+-----+----------+---------+
|2008|    1|         3|      335|
|2008|    1|         3|     3231|
|2008|    1|         3|      448|
|2008|    1|         3|     3920|
|2008|    1|         3|      378|
+----+-----+----------+---------+
only showing top 5 rows

In [38]:
df.describe().show() # Describing the columns

+-------+------------------+-------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------------+------------------+-------+------------------+-----------------+------------------+-----------------+------------------+-------+-------+-----------------+-----------------+------------------+--------------------+----------------+--------------------+------------------+------------------+------------------+-------------------+------------------+
|summary|               _c0|   Year|             Month|        DayofMonth|         DayOfWeek|           DepTime|        CRSDepTime|          ArrTime|       CRSArrTime|UniqueCarrier|         FlightNum|TailNum| ActualElapsedTime|   CRSElapsedTime|           AirTime|         ArrDelay|          DepDelay| Origin|   Dest|         Distance|           TaxiIn|           TaxiOut|           Cancelled|CancellationCode|            Diverted|      CarrierDelay|      WeatherDelay|          NASDelay|      SecurityDelay| LateAircraftDelay|
+-------+------------------+-------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------------+------------------+-------+------------------+-----------------+------------------+-----------------+------------------+-------+-------+-----------------+-----------------+------------------+--------------------+----------------+--------------------+------------------+------------------+------------------+-------------------+------------------+
|  count|           1936758|1936758|           1936758|           1936758|           1936758|           1936758|           1936758|          1929648|          1936758|      1936758|           1936758|1936753|           1928371|          1936560|           1928371|          1928371|           1936758|1936758|1936758|          1936758|          1929648|           1936303|             1936758|         1936758|             1936758|           1247488|           1247488|           1247488|            1247488|           1247488|
|   mean|3341651.1513358923| 2008.0|  6.11110629206127|15.753470490376186|3.9848272215733718|1518.5341168075722|1467.4726439751378|1610.140628757162|1634.224640868916|         null|2184.2632362948802|   null|133.30586334268665|134.3027440409799|108.27714739539228|42.19988477321014|43.185176464999756|   null|   null|765.6861590348407|6.812975216205236|18.232202811233574|3.268348446217854...|            null|0.004003597764924684|19.179398920069772|3.7035706956700185|15.021635478657911|0.09013713959573158|25.296466178432176|
| stddev|2066064.9575203708|    0.0|3.4825463936658796| 8.776272060384269|1.9959662750518288| 450.4852547937541| 424.7667995772775|548.1781425365665|464.6347119906777|         null|1944.7022503716541|   null| 72.06006897518112|71.34143888170317| 68.64261013867606|56.78471513732194| 53.40250234365989|   null|   null|574.4796530720926|5.273595064525683|14.338534198201899|0.018075624257674595|            null| 0.06314721711010828|43.546207245474356| 21.49290048410928|33.833052163653946|   2.02271404750559|  42.0548615209541|
|    min|                 0|   2008|                 1|                 1|                 1|               1.0|                 0|              1.0|                0|           9E|                 1| 80009E|              14.0|            -25.0|               0.0|           -109.0|               6.0|    ABE|    ABE|               11|              0.0|               0.0|                   0|               A|                   0|               0.0|               0.0|               0.0|                0.0|               0.0|
|    max|           7009727|   2008|                12|                31|                 7|            2400.0|              2359|           2400.0|             2400|           YV|              9742| Unknow|            1114.0|            660.0|            1091.0|           2461.0|            2467.0|    YUM|    YUM|             4962|            240.0|             422.0|                   1|               N|                   1|            2436.0|            1352.0|            1357.0|              392.0|            1316.0|
+-------+------------------+-------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------------+------------------+-------+------------------+-----------------+------------------+-----------------+------------------+-------+-------+-----------------+-----------------+------------------+--------------------+----------------+--------------------+------------------+------------------+------------------+-------------------+------------------+

# Distinct values for Categorical columns

In [39]:
df.select("AirTime").distinct().show()

+-------+
|AirTime|
+-------+
|  305.0|
|  299.0|
|  496.0|
|  596.0|
|  558.0|
|  147.0|
|  170.0|
|  184.0|
|  576.0|
|  169.0|
|  160.0|
|  608.0|
|   70.0|
|   67.0|
|  311.0|
|  379.0|
|  486.0|
|    8.0|
|  571.0|
|  168.0|
+-------+
only showing top 20 rows

# Aggregate with Groupby

In [43]:
from pyspark.sql import functions as F
df.groupBy("Year").agg(F.sum("FlightNum")).show()

+----+--------------+
|Year|sum(FlightNum)|
+----+--------------+
|2008|    4230389297|
+----+--------------+

In [42]:
from pyspark.sql import functions as F
df.groupBy("Month").agg(F.sum("FlightNum")).show()

+-----+--------------+
|Month|sum(FlightNum)|
+-----+--------------+
|   12|     462827129|
|    1|     420956179|
|    6|     436885627|
|    3|     425587779|
|    5|     323301264|
|    9|     209158942|
|    4|     331227729|
|    8|     338770016|
|    7|     398696159|
|   10|     216036590|
|   11|     239755667|
|    2|     427186216|
+-----+--------------+

# Counting and Removing Null values

In [44]:
df.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in df.columns]).show()

+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|_c0|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|  0|   0|    0|         0|        0|      0|         0|   7110|         0|            0|        0|      5|             8387|           198|   8387|    8387|       0|     0|   0|       0|  7110|    455|        0|               0|       0|      689270|      689270|  689270|       689270|           689270|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+

In [48]:
df = df.fillna({'ActualElapsedTime':0, 'CRSElapsedTime':0})

In [49]:
df.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in df.columns]).show()

+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|_c0|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|  0|   0|    0|         0|        0|      0|         0|   7110|         0|            0|        0|      5|                0|             0|   8387|    8387|       0|     0|   0|       0|  7110|    455|        0|               0|       0|      689270|      689270|  689270|       689270|           689270|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+

In [50]:
df.write.csv("/content/drive/My Drive/PySpark on Colab/preprocessed_data")

In [51]:
df.rdd.getNumPartitions()

2

In [ ]:
# Spark df to Pandas df
df_pd = df.toPandas()
# Store result
df_pd.to_csv("/content/drive/My Drive/PySpark on Colab/pandas_preprocessed_data.csv")

In [ ]:
import pandas as pd
test = pd.read_csv('/content/drive/My Drive/PySpark on Colab/pandas_preprocessed_data.csv')
test