<a href="https://colab.research.google.com/github/Benjamindavid03/MachineLearningLab/blob/main/Spark_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prepare and Import the Data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!unzip "/content/drive/MyDrive/Colab Datasets/DelayedFlights.csv.zip"

Archive:  /content/drive/MyDrive/Colab Datasets/DelayedFlights.csv.zip
  inflating: DelayedFlights.csv

# Setting up Pyspark in python

In [4]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [5]:
!wget -q https://downloads.apache.org/spark/spark-3.0.3/spark-3.0.3-bin-hadoop2.7.tgz

In [6]:
!tar xf spark-3.0.3-bin-hadoop2.7.tgz

In [7]:
!pip install -q findspark

In [8]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.3-bin-hadoop2.7"
!export SPARK_HOME=/content/spark-3.0.3-bin-hadoop2.7
! echo $SPARK_HOME

/content/spark-3.0.3-bin-hadoop2.7

# Initialize Spark

In [9]:
import findspark
findspark.init()

# create a SparkSession, which is the entry point to Spark.

In [10]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [11]:
spark

# View Spark UI

In [12]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!ngrok config add-authtoken 2AyXjKIeBsO3IMCwnIGArgk0wPq_5JvTpU4uDDtEFwPh2EbAy
!curl -s http://localhost:4040/api/tunnels

--2022-06-26 09:18:17--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 54.161.241.46, 52.202.168.65, 18.205.222.128, ...
Connecting to bin.equinox.io (bin.equinox.io)|54.161.241.46|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.19M  38.2MB/s    in 0.3s

2022-06-26 09:18:17 (38.2 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok
/bin/bash: ngrok: command not found
{"tunnels":[{"name":"command_line","uri":"/api/tunnels/command_line","public_url":"https://b8a4-104-197-125-38.ngrok.io","proto":"https","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}},{"name":"command_line (http)","uri":"/api/tunnels/command_line%20%28http%29","public_url":"http://b8a4-104-197-125-38.ngrok.io","proto":"http","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}}],"uri":"/api/tunnels"}

In [13]:
df = spark.read.csv("DelayedFlights.csv", header=True, inferSchema=True) #Load the CSV using spark

In [14]:
df.printSchema() #Show column details

root
 |-- _c0: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: double (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- ArrTime: double (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: double (nullable = true)
 |-- CRSElapsedTime: double (nullable = true)
 |-- AirTime: double (nullable = true)
 |-- ArrDelay: double (nullable = true)
 |-- DepDelay: double (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: integer (nullable = true)
 |-- TaxiIn: double (nullable = true)
 |-- TaxiOut: double (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: integer (nullable = true)
 |-- CarrierDelay: double (nullable = true)
 |-- WeatherDelay: double (nullable = true)
 |-- NASDelay: double (nullable = true)
 |-- SecurityDelay: double (nullable = true)
 |-- LateAircraftDelay: double (nullable = true)

In [15]:
df.show(5) # Show only 5 rows in DF

+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|_c0|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|  0|2008|    1|         3|        4| 2003.0|      1955| 2211.0|      2225|           WN|      335| N712SW|            128.0|         150.0|  116.0|   -14.0|     8.0|   IAD| TPA|     810|   4.0|    8.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  1|2008|    1|         3|        4|  754.0|       735| 1002.0|      1000|           WN|     3231| N772SW|            128.0|         145.0|  113.0|     2.0|    19.0|   IAD| TPA|     810|   5.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  2|2008|    1|         3|        4|  628.0|       620|  804.0|       750|           WN|      448| N428WN|             96.0|          90.0|   76.0|    14.0|     8.0|   IND| BWI|     515|   3.0|   17.0|        0|               N|       0|        null|        null|    null|         null|             null|
|  4|2008|    1|         3|        4| 1829.0|      1755| 1959.0|      1925|           WN|     3920| N464WN|             90.0|          90.0|   77.0|    34.0|    34.0|   IND| BWI|     515|   3.0|   10.0|        0|               N|       0|         2.0|         0.0|     0.0|          0.0|             32.0|
|  5|2008|    1|         3|        4| 1940.0|      1915| 2121.0|      2110|           WN|      378| N726SW|            101.0|         115.0|   87.0|    11.0|    25.0|   IND| JAX|     688|   4.0|   10.0|        0|               N|       0|        null|        null|    null|         null|             null|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 5 rows

In [16]:
df.count() #Number of rows in DF

1936758

In [17]:
df.select("Year","Month","DayOfMonth","FlightNum").show(5) #Display specific columns

+----+-----+----------+---------+
|Year|Month|DayOfMonth|FlightNum|
+----+-----+----------+---------+
|2008|    1|         3|      335|
|2008|    1|         3|     3231|
|2008|    1|         3|      448|
|2008|    1|         3|     3920|
|2008|    1|         3|      378|
+----+-----+----------+---------+
only showing top 5 rows

In [18]:
df.describe().show() # Describing the columns

+-------+------------------+-------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------------+------------------+-------+------------------+-----------------+------------------+-----------------+------------------+-------+-------+-----------------+-----------------+------------------+--------------------+----------------+--------------------+------------------+------------------+------------------+-------------------+------------------+
|summary|               _c0|   Year|             Month|        DayofMonth|         DayOfWeek|           DepTime|        CRSDepTime|          ArrTime|       CRSArrTime|UniqueCarrier|         FlightNum|TailNum| ActualElapsedTime|   CRSElapsedTime|           AirTime|         ArrDelay|          DepDelay| Origin|   Dest|         Distance|           TaxiIn|           TaxiOut|           Cancelled|CancellationCode|            Diverted|      CarrierDelay|      WeatherDelay|          NASDelay|      SecurityDelay| LateAircraftDelay|
+-------+------------------+-------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------------+------------------+-------+------------------+-----------------+------------------+-----------------+------------------+-------+-------+-----------------+-----------------+------------------+--------------------+----------------+--------------------+------------------+------------------+------------------+-------------------+------------------+
|  count|           1936758|1936758|           1936758|           1936758|           1936758|           1936758|           1936758|          1929648|          1936758|      1936758|           1936758|1936753|           1928371|          1936560|           1928371|          1928371|           1936758|1936758|1936758|          1936758|          1929648|           1936303|             1936758|         1936758|             1936758|           1247488|           1247488|           1247488|            1247488|           1247488|
|   mean|3341651.1513358923| 2008.0|  6.11110629206127|15.753470490376186|3.9848272215733718|1518.5341168075722|1467.4726439751378|1610.140628757162|1634.224640868916|         null|2184.2632362948802|   null|133.30586334268665|134.3027440409799|108.27714739539228|42.19988477321014|43.185176464999756|   null|   null|765.6861590348407|6.812975216205236|18.232202811233574|3.268348446217854...|            null|0.004003597764924684|19.179398920069772|3.7035706956700185|15.021635478657911|0.09013713959573158|25.296466178432176|
| stddev|2066064.9575203708|    0.0|3.4825463936658796| 8.776272060384269|1.9959662750518288| 450.4852547937541| 424.7667995772775|548.1781425365665|464.6347119906777|         null|1944.7022503716541|   null| 72.06006897518112|71.34143888170317| 68.64261013867606|56.78471513732194| 53.40250234365989|   null|   null|574.4796530720926|5.273595064525683|14.338534198201899|0.018075624257674595|            null| 0.06314721711010828|43.546207245474356| 21.49290048410928|33.833052163653946|   2.02271404750559|  42.0548615209541|
|    min|                 0|   2008|                 1|                 1|                 1|               1.0|                 0|              1.0|                0|           9E|                 1| 80009E|              14.0|            -25.0|               0.0|           -109.0|               6.0|    ABE|    ABE|               11|              0.0|               0.0|                   0|               A|                   0|               0.0|               0.0|               0.0|                0.0|               0.0|
|    max|           7009727|   2008|                12|                31|                 7|            2400.0|              2359|           2400.0|             2400|           YV|              9742| Unknow|            1114.0|            660.0|            1091.0|           2461.0|            2467.0|    YUM|    YUM|             4962|            240.0|             422.0|                   1|               N|                   1|            2436.0|            1352.0|            1357.0|              392.0|            1316.0|
+-------+------------------+-------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-------------+------------------+-------+------------------+-----------------+------------------+-----------------+------------------+-------+-------+-----------------+-----------------+------------------+--------------------+----------------+--------------------+------------------+------------------+------------------+-------------------+------------------+

# Distinct values for Categorical columns

In [19]:
df.select("AirTime").distinct().show()

+-------+
|AirTime|
+-------+
|  305.0|
|  299.0|
|  496.0|
|  596.0|
|  558.0|
|  147.0|
|  170.0|
|  184.0|
|  576.0|
|  169.0|
|  160.0|
|  608.0|
|   70.0|
|   67.0|
|  311.0|
|  379.0|
|  486.0|
|    8.0|
|  571.0|
|  168.0|
+-------+
only showing top 20 rows

# Aggregate with Groupby

In [20]:
from pyspark.sql import functions as F
df.groupBy("Year").agg(F.sum("FlightNum")).show()

+----+--------------+
|Year|sum(FlightNum)|
+----+--------------+
|2008|    4230389297|
+----+--------------+

In [21]:
from pyspark.sql import functions as F
df.groupBy("Month").agg(F.sum("FlightNum")).show()

+-----+--------------+
|Month|sum(FlightNum)|
+-----+--------------+
|   12|     462827129|
|    1|     420956179|
|    6|     436885627|
|    3|     425587779|
|    5|     323301264|
|    9|     209158942|
|    4|     331227729|
|    8|     338770016|
|    7|     398696159|
|   10|     216036590|
|   11|     239755667|
|    2|     427186216|
+-----+--------------+

# Counting and Removing Null values

In [22]:
df.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in df.columns]).show()

+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|_c0|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|  0|   0|    0|         0|        0|      0|         0|   7110|         0|            0|        0|      5|             8387|           198|   8387|    8387|       0|     0|   0|       0|  7110|    455|        0|               0|       0|      689270|      689270|  689270|       689270|           689270|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+

In [23]:
df = df.fillna({'ActualElapsedTime':0, 'CRSElapsedTime':0})

In [24]:
df.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in df.columns]).show()

+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|_c0|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|  0|   0|    0|         0|        0|      0|         0|   7110|         0|            0|        0|      5|                0|             0|   8387|    8387|       0|     0|   0|       0|  7110|    455|        0|               0|       0|      689270|      689270|  689270|       689270|           689270|
+---+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+

In [27]:
df.write.csv("/content/drive/My Drive/PySpark on Colab/preprocessed_data")

In [28]:
df.rdd.getNumPartitions()

2

In [67]:
# A JSON dataset is pointed to by path.
# The path can be either a single text file or a directory storing text files
path = "/content/drive/MyDrive/Colab Datasets/people.json"
peopleDF = spark.read.json(path)
peopleDF.count()

88

In [68]:
peopleDF.printSchema()

root
 |-- _corrupt_record: string (nullable = true)
 |-- country: string (nullable = true)
 |-- email: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- last_name: string (nullable = true)
 |-- modified: string (nullable = true)
 |-- vip: boolean (nullable = true)

In [69]:
# The inferred schema can be visualized using the printSchema() method
peopleDF.printSchema()
# root
#  |-- age: long (nullable = true)
#  |-- name: string (nullable = true)

# Creates a temporary view using the DataFrame
peopleDF.createOrReplaceTempView("people")
peopleDF.show()

root
 |-- _corrupt_record: string (nullable = true)
 |-- country: string (nullable = true)
 |-- email: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- last_name: string (nullable = true)
 |-- modified: string (nullable = true)
 |-- vip: boolean (nullable = true)

+--------------------+-----------+--------------------+----------+----+----------+----------+-----+
|     _corrupt_record|    country|               email|first_name|  id| last_name|  modified|  vip|
+--------------------+-----------+--------------------+----------+----+----------+----------+-----+
|[{"id":1,"first_n...|       null|                null|      null|null|      null|      null| null|
|                null|      China|awilliamson1@naro...|    Albert|   2|Williamson|2015-03-11| true|
|                null|       Peru|    mfuller2@npr.org|   Mildred|   3|    Fuller|2015-02-15| true|
|                null|    Belarus|rrobinson3@google.pl|   Russell|   4|  Robinson|2014-10-31|false|
|                null|Philippines| lharper4@boston.com|     Laura|   5|    Harper|2015-01-14|false|
|                null|      China|lsanders5@cornell...|     Larry|   6|   Sanders|2015-01-11|false|
|                null|Philippines| mrice6@geocities.jp|   Michael|   7|      Rice|2014-12-06| true|
|                null|  Indonesia|sharris7@deliciou...|      Sara|   8|    Harris|2014-11-05| true|
|                null|      China|   pwebb8@reddit.com|   Phyllis|   9|      Webb|2015-04-02| true|
|                null|    Finland|ralvarez9@nsw.gov.au|     Roger|  10|   Alvarez|2015-03-21| true|
|                null|     Sweden|mcarpentera@so-ne...|     Maria|  11| Carpenter|2015-08-18| true|
|                null|     Russia|ledwardsb@storify...|      Lori|  12|   Edwards|2015-02-05| true|
|                null|     Russia|pmitchellc@ebay.c...|   Phillip|  13|  Mitchell|2015-03-28|false|
|                null|  Indonesia|   clopezd@hexun.com|     Craig|  14|     Lopez|2015-01-20| true|
|                null|  Mauritius|mgeorgee@squaresp...|     Marie|  15|    George|2014-10-26| true|
|                null|     Norway|    jduncanf@pbs.org|      Jean|  16|    Duncan|2014-11-19| true|
|                null|     Sweden|    kbutlerg@wix.com|  Kimberly|  17|    Butler|2014-12-29|false|
|                null|  Indonesia|hramirezh@instagr...|   Heather|  18|   Ramirez|2015-07-13|false|
|                null|     Canada|jsandersi@earthli...|     Jason|  19|   Sanders|2015-02-25|false|
|                null|Philippines|   jevansj@google.de|      Juan|  20|     Evans|2015-07-09| true|
+--------------------+-----------+--------------------+----------+----+----------+----------+-----+
only showing top 20 rows

In [74]:
# SQL statements can be run by using the sql methods provided by spark
teenagerNamesDF = spark.sql('SELECT id,email,first_name FROM people WHERE id BETWEEN 10 AND 25')
teenagerNamesDF.show()

+---+--------------------+----------+
| id|               email|first_name|
+---+--------------------+----------+
| 10|ralvarez9@nsw.gov.au|     Roger|
| 11|mcarpentera@so-ne...|     Maria|
| 12|ledwardsb@storify...|      Lori|
| 13|pmitchellc@ebay.c...|   Phillip|
| 14|   clopezd@hexun.com|     Craig|
| 15|mgeorgee@squaresp...|     Marie|
| 16|    jduncanf@pbs.org|      Jean|
| 17|    kbutlerg@wix.com|  Kimberly|
| 18|hramirezh@instagr...|   Heather|
| 19|jsandersi@earthli...|     Jason|
| 20|   jevansj@google.de|      Juan|
| 21|btuckerk@business...|     Billy|
| 22|fduncanl@smugmug.com|      Fred|
| 23|dpetersonm@delici...|    Daniel|
| 24|kgilbertn@guardia...|     Kelly|
| 25|   aharto@oakley.com|     Aaron|
+---+--------------------+----------+